body { font: 12px Verdana, Arial, Helvetica, sans-serif; line-height: 20px; }

h1, h2, h3 { margin: 20px 0; font-weight: normal; }

.nav { margin-bottom: 0px; }

.nav > li > a:hover, .nav > li > a {
    text-decoration: none;
	/*
    background-color: rgb(238, 238, 238);
	*/
	background-color: rgb(90, 150, 110);
	color: rgb(255, 255, 255);
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: rgb(0, 0, 0);
    cursor: default;
    background-color: rgb(159, 213, 177);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(159, 213, 177) transparent;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.tab-content { padding: 35px; border: 1px solid rgb(221, 221, 221); border-top: none; min-height: 300px; }

.tab-content h1, .tab-content h2, .tab-content h3 { margin: 10px 0; }



